/*====================BOTÃO DE  CANDIDATE-SE================================*/
#register .btn{
    color: black;
    background-color: white;
}

#register .btn:hover {
    color: white;
    background-color: black;
}
/*==================FIME DE BOTÃO CANDIDATE-SE=============================*/

/*=============================MODAL======================================*/
#register .modal-content {
    border-radius: 20px;
    margin-left: -9px;
    width: 109%;
    height: 42.688rem;
}

#register .modal-body {
    width: 100%;
    height: 1000px;
    background-image: url('/img/imf.jpg');
    color: white;
    border-radius: 20px;
    padding: -100px;
}
/*==============================MODAL===================================*/


#register .modal-body .modal-title {
    margin-top: -1.5rem;
    margin-left: 1.4rem;
    color: white;
}

#register .title{
    color: white;
    transition: all 200ms;
}

/*=============================FORM========================================*/
#register div.container_input {
    width: 280px;
    float: left;
}

.form-group {
    margin: -16px;
    margin-top: 0px;
}


#register input.input_style {
    width: 224px;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    background-color: rgba(26, 24, 24, 0.4);
    transition: all 200ms;
}


#register input.input_style:hover {
    background-color: rgba(26, 24, 24, 0);
    border: 1px solid white;
}

#register input.input_style::placeholder {
    opacity: 1;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    transition: all 200ms;
    font-size: 15pt;
    padding-left: 5px;
}

#register input.input_style:hover::placeholder {
    padding-left: 80px;
    color: rgba(0, 0, 0, 0.2);
}

/*=============================FORM TEXTO===========================================*/
#register input.input_texto_style {
    width: 14rem;
    height: 9.3rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    background-color: rgba(26, 24, 24, 0.4);
    padding-left: 1rem;
    transition: all 200ms;
    margin-left: -16px;
}

#register input.input_texto_style:hover {
    background-color: rgba(26, 24, 24, 0);
    border: 1px solid white;
}


#register input.input_texto_style::placeholder {
    opacity: 1;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    transition: all 200ms;
    font-size: 15pt;
    padding-left: 5px;
}

#register input.input_texto_style:hover::placeholder {
    padding-left: 80px;
    color: rgba(0, 0, 0, 0.2);
}


/*=================================FIM FORM TEXTO=====================================*/


#register div.input-radio {
    margin-top: 1.5rem;
    width: 224px;
    height: 7rem;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    background-color: rgba(26, 24, 24, 0.4);
    transition: all 200ms;
}

.radio1 {
    padding-right: 5.4rem;
}
.radio2 {
    padding-right: 5rem;
}

.radio3 {
    padding-right: 7.3rem;
}

div.div_data {
    width: 224px;
    height: 4.3rem;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
    padding-left: 2px;
    background-color: rgba(26, 24, 24, 0.4);
    transition: all 200ms;
}

input.input_data {
    width: 220px;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid rgba(26, 24, 24, 0);
    color: white;
    background-color: rgba(26, 24, 24, 0);
    transition: all 200ms;
}