/*=================================BOTÃO DE  CANDIDATE-SE==============================================*/
#register .btn{
    color: black;
    background-color: white;
}

#register .btn:hover {
    color: white;
    background-color: black;
}
/*==================================FIME DE BOTÃO CANDIDATE-SE==========================================*/

/*===========================================MODAL=======================================================*/
#register .modal-content {
    width: 667px;
    height: 353px;
    border-radius: 20px;
}

#register .modal-body {
    width: 667px;
    height: 353px;
    background-image: url('/img/imf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
}
/*===========================================MODAL=======================================================*/


#register .modal-body .modal-title {
    color: white;
}

#register .title{
    color: white;
    transition: all 200ms;
}

/*===========================================FORM=======================================================*/

#register .ola {
    padding-right: 400px;
    border-radius: 20px;
}

#register  .imput-1 .input-form{
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    width: 300px;
    transition: all 200ms;
}

#register #email {
    padding-left: 10px;
    border-radius: 20px;
    width: 250px;
    height: 2rem;
    background-color: rgba(77, 77, 77, 0.582);
    transition: all 500ms;
}

#register #email:hover {
    background-color: rgba(54, 49, 49, 0.1);
    transition: all 500ms;
    width: 250px;
    height: 2rem;
}

#register .input-form {
    border-color: black;
}

#register .input-form:hover{
    background-color: rgba(26, 24, 24, 0);
    border: 1px solid white;
}
#register .input-form:focus{
    color: white;
}
#register .input-form::placeholder {
    opacity: 1;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    transition: all 200ms;
    font-size: 15pt;
    padding-left: 5px;
}

#register .input-form:hover::placeholder {
    padding-left: 80px;
    color: rgba(0, 0, 0, 0.2);
}

#register input:invalid {
    box-shadow: 0px 0px 0px crimson;
}

#register input:focus {
    outline: none;
}

#register input:focus:invalid {
    box-shadow: none;
}

#register span {
    color: crimson;
}

/*===========================================FIM DO FORM=======================================================*/