/*====================BOTÃO DE  CANDIDATE-SE================================*/
#register .btn{
    color: black;
    background-color: white;
}

#register .btn:hover {
    color: white;
    background-color: black;
}
/*==================FIME DE BOTÃO CANDIDATE-SE=============================*/

/*=============================MODAL======================================*/
#register .modal-content {
    width: 120%;
    height: 25rem;
    border-radius: 20px;
}

#register .modal-body {
    width: 120%;
    height: 25rem;
    background-image: url('/img/imf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
}
/*==============================MODAL===================================*/


#register .modal-body .modal-title {
    color: white;
}

#register .title{
    color: white;
    transition: all 200ms;
}

/*=================================FORM==================================*/
#register .ola {
    height: 100px;
    padding-right: 400px;
    border-radius: 20px;
}

#register .input-form{
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    width: 300px;
    transition: all 200ms;
    border-color: black;
}

#register .input-form:hover{
    background-color: rgba(26, 24, 24, 0);
    border: 1px solid white;
}

#register .input-form:focus{
    color: white;
}
#register .input-form::placeholder {
    opacity: 1;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    transition: all 200ms;
    font-size: 15pt;
    padding-left: 5px;
}

#register .input-form:hover::placeholder {
    padding-left: 80px;
    color: rgba(0, 0, 0, 0.2);
}

/*==================================FIM DO FORM============================*/

/*====================INPUT NAME================================*/

#register #name {
    padding-left: 10px;
    border-radius: 20px;
    width: 250px;
    height: 2rem;
    background-color: rgba(77, 77, 77, 0.582);
    transition: all 500ms;
}

#register #name:hover {
    background-color: rgba(54, 49, 49, 0.1);
    transition: all 500ms;
    width: 250px;
    height: 2rem;
}
/*==================FIM INPUT NAME==============================*/

/*==================INPUT EMAIL=================================*/
#register .input_email {
    padding-top: 1.5rem;
}
#register #email {
    padding-left: 10px;
    border-radius: 20px;
    width: 250px;
    height: 2rem;
    background-color: rgba(77, 77, 77, 0.582);
    transition: all 500ms;
}

#register #email:hover {
    background-color: rgba(54, 49, 49, 0.1);
    transition: all 500ms;
    width: 250px;
    height: 2rem;
}
/*====================FIM INPUT EMAIL==============================*/

/*==================INPUT GENERO=====================================*/
#register .ola .input_genero {
    padding-top: 0rem;
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    width: 250px;
    transition: all 200ms;
    border-color: black;
}

#register .teste {
    width: 100px;
    height: 1rem;
    background-color: blue;
}
/*=================FIMINPUT GENERO===================================*/



/*==================ESTILIZAÇÃO DE VAÇÃOLIDA================================*/
#register #error {
    height: 1.5rem;
}

#register input:invalid {
    box-shadow: 0px 0px 0px crimson;
}

#register input:focus {
    outline: none;
}

#register input:focus:invalid {
    box-shadow: none;
}

#register span {
    transition: all 300ms;
    color: crimson;
}
