form {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(240,248,255, 0.1);
}

form .form-control {
    background-color:  rgba(176,224,230, 1);
    border-radius: 10px;
}

form .form-control::placeholder {
    background-color:  rgba(176,224,230, 1);
    color: black;
}

form .btn {
    background-color: rgba( 0, 206, 209, 1);
    width: 120px;
    padding: 10px;
    transition: 500ms;
}

form .btn:hover {
    background-color: rgba( 0, 206, 209, 1);
    transform: translateY(-3px) scale(1.1);
}


#inputMessage {
    height: 150px;
}