.masthead .card-deck {
    width: 100%;
    padding: 0px 20px;
}

.masthead .card {
    border-radius: 20px;
    transition: all 500ms;
    border-color: rgba(175, 97, 203, 1);;
}

.masthead .card:hover {    
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}


.masthead .card-img-top {
  border-radius: 20px 20px 0px 0px;
}

.masthead .card-body {   
    background-color: rgba(175, 97, 203, 1);
    border-radius: 0px 0px 20px 20px;
}

.masthead .card-deck .card .card-body h5 {
  color: black;
}

.masthead .card-deck .card .card-body p {
  text-align: justify;
}

body {
  width: 100%;
  height: 100%;
}

#wearefoda {
  
}

#wearefoda .card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 500ms;
}

#wearefoda .card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

#wearefoda .card-deck {
  width: 100%;
  padding: 10px 8%;
}

#wearefoda img {
  padding: 010px;
  border-radius: 20px;
}

.gol {
  height: 55px;
  border-radius: 20px 20px;
  background-color: yellow;
}


#wearefoda .card-deck .statusDev {
  padding-left: 20px;
  height: 1.5rem;
  padding-top: 3%;
  text-align: left;
  font-family: sans-serif;
  font-weight: 1000;
}

